<?php

define('DISCORD_BOT_TOKEN', '');
define('DISCORD_CLIENT_ID', '');
define('DISCORD_CLIENT_SECRET', '');
define('DISCORD_GUILD_ID', '');

define('GOOGLE_CLIENT_ID', '');
define('GOOGLE_CLIENT_SECRET', '');

define('LDAP_USER', '');
define('LDAP_PASSWORD', '');

define('DB_NAME', '');
define('DB_USER', '');
define('DB_PASSWORD', '');